{
    "printWidth": 120,
    "semi": false,
    "overrides": [
        {
            "files": [
                "*.mdx"
            ],
            "options": {
                "printWidth": 400
            }
        }
    ]
}